<mat-sidenav-container autosize>
  <mat-sidenav #sidenav [opened]="true" mode="side">
    <mat-nav-list>
      @for (entry of routesToShow(); track entry.path) {
        <a
          mat-list-item
          [routerLink]="entry.path"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          [attr.aria-label]="entry.label"
        >
          <span class="nav-entry">
            <mat-icon>{{ entry.icon }}</mat-icon>
            <span>{{ entry.label }}</span>
          </span>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>