.alert.alert-info {
  background-color: #d9edf7;
  color: #31708f;
}
.alert.alert-warning {
  background-color: #fcf8e3;
  color: #8a6d3b;
}
.alert.alert-error {
  background-color: #f2dede;
  color: #a94442;
}
.alert {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.55rem 1rem;
  margin-bottom: 1rem;
}

.alert .close {
  display: flex;
  align-items: center;
}
