<form>
    <div class="filters-grid">
        <mat-form-field>
            <mat-label>Référence</mat-label>
            <input matInput [value]="filterModel().reference ?? ''" (input)="onChangeFilter('reference', $any($event.target).value)" />
        </mat-form-field>


        <mat-form-field>
            <mat-label>Victime vulnérable</mat-label>
            <mat-select [value]="filterModel().vulnerability_victim" (selectionChange)="onChangeFilter('vulnerability_victim', $event.value)">
                <mat-option [value]="undefined">Tous</mat-option>
                <mat-option [value]="true">Oui</mat-option>
                <mat-option [value]="false">Non</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Créé le (du)</mat-label>
            <input matInput [matDatepicker]="createdAtFromPicker" [value]="filterModel().created_at_gte" (dateChange)="onDateChange('created_at_gte', $event.value)" />
            <mat-datepicker-toggle matSuffix [for]="createdAtFromPicker"></mat-datepicker-toggle>
            <mat-datepicker #createdAtFromPicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Créé le (au)</mat-label>
            <input matInput [matDatepicker]="createdAtToPicker" [value]="filterModel().created_at_lte" (dateChange)="onDateChange('created_at_lte', $event.value)" />
            <mat-datepicker-toggle matSuffix [for]="createdAtToPicker"></mat-datepicker-toggle>
            <mat-datepicker #createdAtToPicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Date incident (du)</mat-label>
            <input matInput [matDatepicker]="incidentDateFromPicker" [value]="filterModel().incident_date_gte" (dateChange)="onDateChange('incident_date_gte', $event.value)" />
            <mat-datepicker-toggle matSuffix [for]="incidentDateFromPicker"></mat-datepicker-toggle>
            <mat-datepicker #incidentDateFromPicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Date incident (au)</mat-label>
            <input matInput [matDatepicker]="incidentDateToPicker" [value]="filterModel().incident_date_lte" (dateChange)="onDateChange('incident_date_lte', $event.value)" />
            <mat-datepicker-toggle matSuffix [for]="incidentDateToPicker"></mat-datepicker-toggle>
            <mat-datepicker #incidentDateToPicker></mat-datepicker>
        </mat-form-field>
    </div>

    <div class="filters-actions">
        <button mat-stroked-button type="button" (click)="resetFilters()">Réinitialiser</button>
    </div>
</form>
